{:aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}},
                   :ns-default build},
           :main {:main-opts ["-m" "clin.main"]},
           :repl/conjure
             {:extra-deps {cider/cider-nrepl {:mvn/version "0.43.3"},
                           nrepl/nrepl {:mvn/version "1.1.0"}},
              :main-opts ["--main" "nrepl.cmdline" "--middleware"
                          "[cider.nrepl/cider-middleware]" "--interactive"]}},
 :deps {org.clojure/core.match {:mvn/version "1.0.1"}},
 :paths ["src" "resources"]}
